<!--extends 'direccion de carpetas'-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>{% block title %}Categoria{% endblock %}</title>

	<!--meta tags -->
	{% block head%}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Medically Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	{%block head2%}

	{%endblock%}
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<!--//meta tags ends here-->
	<!--booststrap-->
	<link href= "{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">

	<!--//booststrap end-->

	<!-- font-awesome icons -->
	<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet">
	<!-- //font-awesome icons -->
	<link rel="stylesheet" href="{% static 'css/chocolat.css'%}" type="text/css" media="screen" />
	<!-- gallery-->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}" type="text/css" media="all">
	<!-- clients-->

	<link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" />
	<!-- banner text slider-->
	<!--stylesheets-->
	<link href="{% static 'css/style.css'%}" rel='stylesheet' type='text/css' media="all">
	<!-- banner text slider-->

	<link href="//fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600" rel="stylesheet">
	<!--//style sheet end here-->
	{%endblock%}
	</head>




		{%block inicioBody%} <body> {%endblock%}
			{% block cabecera%}






			<div class="sin-imagen" id="home">


											{% for message in messages %}
												<div class="alert {{ message.tags }} alert-dismissible " role="alert">
													<button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
													{{ message }}
												</div>
											{% endfor %}


				<div class="w3-agile-logo">
					<div class=" head-wl">
						<div class="agileinfo-social-grids">

						</div>
						<div class="w3-header-top-right">
							<div class="email-right">

							</div>
							<div class="w3-header-top-right-text">
								<p><span class="fa fa-user" aria-hidden="true"></span> <a href="../index/logout" class="info"> logout</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>




				</div>
			</div>
			{% endblock %}
			{% block menu %}


			<div class="header-w3layouts">

		<!-- Navigation -->
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a class="navbar-brand " href="../index">Serina<span style="padding: 10px" class="fa fa-heartbeat"></span></a></h1>
					</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav navbar-right">
					<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
							<li class="hidden"><a class="page-scroll" href="#page-top"></a> </li>
							<li><a class="page-scroll scroll" href="categoria">Especialización</a></li>
							<li><a class="page-scroll scroll" href="tratamiento">Tratamientos</a></li>
							<li><a class="page-scroll scroll" data-toggle="modal" href="#modal_medicina">Medicinas</a></li>
							 <li><a  data-toggle="modal" href="#modal_ayuda">Ayuda</a></li>
						</ul>
					</div>
			<!-- /.navbar-collapse -->
				</nav>
			</div>

			{% endblock %}

			{%block imag%}

			<div>




			</div>

			<div class="subscribe text-center clr3"></div>
			{% endblock %}
			{% block cuerpoCero%}
			<div id="modal_medicina" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Categoria Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">
			          <form action="addmedicina" method="POST" style="position: relative;" class="form-inline">
			            {% csrf_token %}
			            <label  class="textoModal" for="category">Crear Medicina:</label>
			            <input type="text" style="width: 50%;" name="medicina" placeholder="nombre medicina" class="form-control" required="">
									<label  class="textoModal" for="category">Tipo de Medicamento:</label>
									<input type="text" style="width: 50%;" name="tipo_medicamento" placeholder="medicamento" class="form-control" required="">
									<label  class="textoModal" for="category">Presentación del Medicamento:</label>
									<input type="text" style="width: 40%;" name="tipo_dosis" placeholder="presentacion" class="form-control" required="">
									<label  class="textoModal" for="category">Concentración del Medicamento:</label>
									<input type="text" style="width: 40%;" name="concentracion" placeholder="concentracion" class="form-control" required="">
									<button type="submit" class="btn btn-primary">Guardar</button>
			          </form>
			        </h4>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>

			<div class="agileits-banner-grids text-center">
				<div id="modal_ayuda" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Categoria Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">
										<label  class="textoModal" for="eliminar"> <h2 align="center"> Manual de usuario </h2>
											<p>Para poder utilizar nuestros servicios, debe primero registrarse seleccionando
											 esta opcion en el menú principal.</p> <br>
											<p>Luego debe iniciar Sesión.</p><br>
											<p>Para Ingresar sus tratamientos, Debe hacerlo dentro de una Categoría.</p> <br>
											<p>Si No tiene ninguna categoría, debe crearla.</p> <br>
											<p>Las citas se crean dentro de las categorias.</p><br>
											<p>Las categorías y las citas, se crean ingresando a especializaciones.</p><br>
											<p>Para ingresar un tratamiento, debe seleccionar la cita a la que va a pertenecer.</p> <br>
											<p>Luego de tener tratamientos creados, puede consultarlos ingresando en el
											menu a tratamientos.</p> <br>
											<p>Para salir, solo debe seleccionar el link logout el cual se encuentra en la parte
											superior derecha de la pantalla.</p> <br>

										</label>

								</h4>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>


			{%endblock%}
			{%block cuerpoUno%}
			<div class="contact" id="contact">

				<div class="container">



				</div>
				<div>
					{%endblock%}
					{%block cuerpoDos%}
					<div class="contact" id="contact">
						<div class="container"></div>
					</div>
				</div>
			</div>
		{%endblock%}
	</body>
</html>
