<!--extends 'direccion de carpetas'-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>{% block title %}Categoria{% endblock %}</title>

	<!--meta tags -->
	{% block head%}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Medically Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
{%block head2%}

{%endblock%}
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<!--//meta tags ends here-->
	<!--booststrap-->
	<link href= "{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">

	<!--//booststrap end-->

	<!-- font-awesome icons -->
	<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet">
	<!-- //font-awesome icons -->
	<link rel="stylesheet" href="{% static 'css/chocolat.css'%}" type="text/css" media="screen" />
	<!-- gallery-->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}" type="text/css" media="all">
	<!-- clients-->

	<link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" />
	<!-- banner text slider-->
	<!--stylesheets-->
	<link href="{% static 'css/style.css'%}" rel='stylesheet' type='text/css' media="all">
	<!-- banner text slider-->

	<link href="//fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600" rel="stylesheet">
	<!--//style sheet end here-->
	{%endblock%}


</head>


{%block inicioBody%} <body> {%endblock%}
	{% block cabecera%}
	<div class="sin-imagen" id="home">
		<div class="w3-agile-logo">
			<div class=" head-wl">
				<div class="agileinfo-social-grids">
					<ul>
						<li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-rss"></span></a></li>
						<li><a href="#"><span class="fa fa-vk"></span></a></li>
					</ul>
				</div>
				<div class="w3-header-top-right">
					<div class="email-right">
						<p><span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:mail@example.com" class="info"> info@example.com</a></p>

					</div>
					<div class="w3-header-top-right-text">

						<p><span class="fa fa-phone" aria-hidden="true"></span> (111)+245 245 66</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>

	{% endblock %}
	{% block menu %}
	<div class="header-w3layouts">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
				<h1><a class="navbar-brand " href="index.html">Serina<span style="padding: 10px" class="fa fa-heartbeat"></span></a></h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
					<li class="hidden"><a class="page-scroll" href="#page-top"></a> </li>
					<li><a class="page-scroll scroll" href="../index">Inicio</a></li>
					<li><a class="page-scroll scroll" href="verCateg">Especialización</a></li>
					<li><a class="page-scroll scroll" href="addIndicaciones">Tratamientos</a></li>
					<li><a class="page-scroll scroll" href="../formulario">Citas</a></li>
					<li><a class="page-scroll scroll" href="#contact">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</div>
	{% endblock %}
  {%block imag%}
  <div class="subscribe text-center clr3">

</div>
{% endblock %}
{%block cuerpoUno%}
<div class="contact" id="contact">
	<div class="container">

	</div>
	<div>
{%endblock%}
{%block cuerpoDos%}
<div class="contact" id="contact">
	<div class="container">

	</div>
	<div>
{%endblock%}
</body>
</html>
