{%extends 'serina_views/baseMenu.html'%}

{% block title %}Formulario Categoria {% endblock %}

{%block cuerpoUno%}
	<div class="gallery titl-bottom" id="gallery">

<h3>Crear nueva Categoria </h3>
<hr>
<form action="addcategoria" method="POST" class="form-inline">
		{% csrf_token %}
	<label for="category">Categoría:</label>
	<input type="text" name="categoria" placeholder="Categoria" required="">
	<button type="submit" class="btn btn-primary">Guardar</button>
</form>
</div>
<tr>
<div class="gallery titl-bottom" id="gallery">
</hr>
<h3>Crear nueva Cita </h3>
<hr>
	<form action="addcita">
 <div class="form-group">
	 <label for="fecha">Fecha de la cita:</label>
	 <input type="date" class="form-control" id="gallery">
 </div>
 <div class="form-group">
	 <label for="nota">nota:</label>
	 <input type="text" class="form-control" id="gallery">
 </div>
 <button type="submit" class="btn btn-primary">Guardar</button>
</form>
</hr>
</div>
</tr>
{%endblock%}
{%block cuerpoDos%}

{%endblock%}
