{%extends 'serina_views/baseMenu.html'%}
{% block title %}Tratamientos{% endblock %}

{%block head2%}
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  {%endblock%}

  {%block cuerpoUno%}
  <div class="contact" id="contact">
    <div class="container">
  <div class="col-md-6 welcome-left wel">
    <h1>Consultar Tratamientos: </h1>
  </div>
</div>
</div>
{%endblock%}

{%block cuerpoDos%}
<div class="contact" id="contact">
  <div class="container">

    <div class="panel-group" id="accordion">
      {%for citas in cita %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6 class="panel-title">
            <a data-toggle="collapse" style="text-transform: capitalize;" data-parent="#accordion" href="#ccita_{{citas.id}}">
              {{citas.fecha}}</a>
              <!-- <form action="modifycategoria" method="POST" class="form-inline" style="position: relative; bottom: 20px; left: 900px;">
                {% csrf_token %}
                <input type="submit" name="editar" style="padding: 5px 20px 5px 20px; margin: 2px;" class="btn btn-primary" value="editar">
                <input type="submit" name="eliminar" style="padding:  5px 20px 5px 20px; margin: 2px;" class="btn btn-primary" value="eliminar">
              </form> -->
            </h6>
          </div>
          <div id="ccita_{{citas.id}}" class="panel-collapse collapse">
            {%for tratamientos in tratamiento%}
            {%if tratamientos.id_cita_id == citas.id %}
            <div class="panel-body"><a href = "datostratamiento?tratamiento={{tratamientos.id}}">fecha del recipe del tratamiento #{{tratamientos.id}}: {{tratamientos.fecha_recipe}}</a>
            </form>
          </div>
          {%endif%}
          {%endfor%}
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</div>
{%endblock%}
